body {
  margin: 0;
  min-width: 250px;
  background: linear-gradient(
    315deg,
    rgba(101, 0, 94, 1) 3%,
    rgba(60, 132, 206, 1) 38%,
    rgba(48, 238, 226, 1) 68%,
    rgb(46, 140, 216) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin-left: 125px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 40px;
  text-shadow: -1px -1px #fff, -2px -2px #fff, -1px 1px #fff, -2px 2px #fff,
    1px 1px #fff, 2px 2px #fff, 1px -1px #fff, 2px -2px #fff, -3px -3px 2px #bbb,
    -3px 3px 2px #bbb, 3px 3px 2px #bbb, 3px -3px 2px #bbb;
  color: steelblue;
  transition: all 1s;
  font-family: "Bebas Neue", cursive;
  font-family: "IBM Plex Mono", monospace;
}
h1:hover {
  color: rgb(10, 207, 59);
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s -1s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1);
  }
}

header {
  font-size: 1.5rem;
}
header,
form {
  margin-bottom: -25px;
  display: flex;
  align-items: center;
}
form input,
form button {
  padding: 0.5em;
  font-size: 2rem;
  border: 1px solid green;
  border-radius: 10px;
}
form button {
  color: rgb(20, 20, 190);
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  width: 483px;
  list-style: none;
  margin-top: 25px;
}
.todo {
  margin: 0.5rems;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background-color: rgb(25, 161, 25);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}
.select {
  margin: 1rem;
  position: relative;
  margin-top: 149px;
  margin-left: -480px;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background-color: #2c11c5;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}
select {
  color: #070a88;
  cursor: pointer;
  height: 50px;
  width: 148px;
}

.select:hover::after {
  background-color: rgb(29, 64, 219);
  color: white;
}
.container {
  margin-left: 120px;
  margin-top: 120px;
  background-color: #4479eb;
  padding: 30px 40px;
  color: white;
  text-align: center;
  width: 558px;
  border-radius: 20px;
  margin-bottom: 45px;
}
