body {
    background-color: gainsboro;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 50px;
    text-shadow: -1px -1px #FFF,
    -2px -2px #FFF,
    -1px 1px #FFF,
    -2px 2px #FFF,
    1px 1px #FFF,
    2px 2px #FFF,
    1px -1px #FFF,
    2px -2px #FFF,
    -3px -3px 2px #BBB,
    -3px 3px 2px #BBB,
    3px 3px 2px #BBB,
    3px -3px 2px #BBB;
    color: steelblue;
    transition: all 1s;
}

h1:hover {
    color: rgb(53, 10, 207);
}

button {
    margin-left: 300px;
    margin-top: 175px;
    width: 130px;
    height: 40px;
    cursor: pointer;
    background: rgb(6,14,131);
    background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
    border: none;
    color: white;
    border-radius: 10px;
}

button:hover {
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-top: -60px;
}