@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  min-width: 250px;
  background: linear-gradient(
    315deg,
    rgb(43, 45, 201) 3%,
    rgba(60, 132, 206, 1) 38%,
    rgba(48, 238, 226, 1) 68%,
    rgb(46, 140, 216) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s -1s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1);
  }
}

.form-container {
  text-align: left;
  background: white;
  display: flex;
  justify-content: center;
  padding: 80px;
  width: 600px;
  border-radius: 30px;
}

p {
  color: rgb(48, 178, 238);
  text-transform: uppercase;
}
input {
  background: transparent;
  font-size: 14px;
  display: block;
  border: 2px solid white;
  border-bottom: 2px solid #2036a7;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #66cc99;
}

button {
  background: #2073e0;
  border: 0;
  padding: 15px 70px;
  margin-top: 20px;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 8px;
}

button:hover {
  background: #133ab8;
}

.error {
  color: red;
}

.success {
  color: green;
}
