body {
    background: rgb(101, 128, 216);
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 500px;
    height: 500px;
    border: 5px dashed white;
    margin-top: 150px;
}

h1 {
    margin-top: 126px;
    margin-bottom: 130px;
    margin-left: 136px;
    text-transform: uppercase;
    color: white;
    font-size: 50px;
    font-weight: 700;
}


.header_buttons {
    cursor: pointer;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
}

.styles-btn {
    background: rgb(6,14,131);
    background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
    border: none;
    color: white;
    border-radius: 10px;
}

.styles-btn:hover {
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}


.btn-one {
    width: 130px;
    height: 40px;
    margin-left: 60px;
}


.btn-two {
    margin-left: 89px;
    width: 130px;
    height: 40px;
}





